<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/CSS/formulario.css" />
    <link rel="stylesheet" href="../assets/CSS/telas.css" />
    <title>Tela de Login</title>
  </head>
  <body>
    <main class="main-center">
      <section id="login" class="fade-in">
        <div id="imagem" class="image-slide"></div>
        <div id="formulario" class="form-container">
          <h1 class="title-slide">Login</h1>
          <p class="text-slide">
            Seja bem-vindo(a) novamente. Faça o login para acessar sua conta e
            fazer as configurações no seu ambiente
          </p>
          <form action="login.php" method="post">
            <div class="campo">
              <input
                type="text"
                id="username"
                name="username"
                required
                class="input-field"
              />
              <label for="username">Seu usuário</label>
            </div>
            <div class="campo">
              <input
                type="password"
                id="password"
                name="password"
                required
                class="input-field"
              />
              <label for="password">Sua senha</label>
            </div>
            <button type="submit" class="botao hover-scale">Entrar</button>
            <p class="esqueci-senha">
              <a href="esqueci-senha.html" class="hover-link"
                >Esqueceu a senha?</a
              >
            </p>
          </form>
        </div>
      </section>
    </main>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'93b95f7c5fb74529',t:'MTc0NjU0Mzg5Ny4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
